act01/main.exe
act01/.vscode/c_cpp_properties.json
act01/.vscode/launch.json
act01/.vscode/settings.json
act01/a.exe
actividad1/.vscode/c_cpp_properties.json
actividad1/.vscode/launch.json
actividad1/.vscode/settings.json
actividad1.1/a
*/.vscode
*.exe
*.json